{{- $currentPage := . -}}
<header>
	<div id="mobile-nav">
		<span class="site-logo"><img src="/img/linodians-logo--icon.svg"></span>
		<strong class="site-title"><a href="/">{{ .Site.Title }}</a></strong>
		<a class="toggle" onclick="toggleMainNav();" data-proofer-ignore><span class="fa fa-bars"></span></a>
	</div>
	<div class="left">
		<h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
	</div>
	<span class="site-logo"><a href="{{ .Site.BaseURL  }}"><img src="/img/linodians-logo--icon.svg" /></a></span>
	<nav id="main-nav" class="right">
		{{ partial "menu.html" (dict "menuID" "main" "dir" "h" "page" .) }}
	</nav>
</header>
<nav id="section-nav">
	{{ partial "menu.html" (dict "menuID" .Section "dir" "h" "page" .) }}
</nav>
