{{- $currentPage := . -}}
<header>
	<div id="mobile-nav">
		<span class="site-logo"><img src="/img/linodians-logo--icon.svg"></span>
		<strong class="site-title"><a href="/">{{ .Site.Title }}</a></strong>
		<a class="toggle" onclick="toggleMainNav();"><span class="fa fa-bars"></span></a>
	</div>
	<nav id="main-nav">
		{{ partial "menu.html" (dict "menuID" "main-left" "dir" "h" "page" .) }}
		<h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
		{{ partial "menu.html" (dict "menuID" "main-right" "dir" "h" "page" .) }}
	</nav>
	{{ if .Section }}
	<nav id="section-nav">
		<span class="site-logo"><a href="{{ .Site.BaseURL  }}"><img src="/img/linodians-logo--icon.svg" /></a></span>
		<a class="section-image" href="/{{ .Section }}/">
		{{ $subLogoURL := printf "/static/assets/img/%s-logo.svg" .Section }}
		{{ if (fileExists $subLogoURL) }}
			<img src="/assets/img/{{ .Section }}-logo.svg" />
		{{ else }}
			<h2 class="section-title">{{ index .Site.Data.sections .Section }}</h2>
		{{ end }}
		</a>
		{{ partial "menu.html" (dict "menuID" .Section "dir" "h" "page" .) }}
	</ul>
	</nav>
	{{ end }}
</header>
