/* Brand & Named colors */
//$linodians-green-color: #2D6147; // green originally from renewed theme
$linodians-green-color: #2F9260;
$linodians-grey-color: #2B2C2D;
$almost-black-color: #161616;

/* Main Site Colors */
$primary-color: $linodians-green-color;
$on-primary-color: white;
$secondary-color: $linodians-grey-color;
$on-secondary-color: white;
$tertiary-color: #27A0B6;
$on-tertiary-color: white;
$body-color: $almost-black-color;
$body-bg-color: white;
$input-bg-color: white;
