@import "colors";

body.type-page main{
  margin: 0;
  width: 100%;
  max-width: 100%;
  text-align: center;
}

section.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin-left: -8%;
  margin-right: -8%;
  background-color: $primary-color;
  padding: 35px 0 40px;
  color: $on-primary-color;

  .icon-grid{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    font-size: 2.8rem;

    & > div{
      display: flex;
      gap: 24px;

    }

    &:first-child div:nth-child( even ){
      margin-left: 20px;
    }

    &:last-child div:nth-child( even ){
      margin-left: -20px;
    }
  }

  .intro{
    padding: 0 10px;
    width: 40%;
    /*margin-top: 10%;*/
    h1{
      margin: 0;
      font-size: 5.8rem;
	}

    p{
      margin-top: 0;
      font-size: 2.8rem;
    }
  }
}
