{{- $currentPage := . -}}
<header>
	<div id="site-branding">
		<a class="site" href="{{ .Site.BaseURL  }}"><img class="logo" src="/img/linodians-logo--icon.svg"/>{{ .Site.Title }}</a>
		<a class="section" href="{{ .Site.BaseURL  }}">{{ .Section | title }}</a>
	</div>
	{{ if .Section }}
	<nav class="section">
		{{ partial "menu.html" (dict "menuID" .Section "dir" "h" "page" .) }}
	</nav>
	{{ else }}
	<nav class="main">
		{{ partial "menu.html" (dict "menuID" "main" "dir" "h" "page" .) }}
	</nav>
	{{ end }}
	<div id="mobile-nav">
		<a class="toggle" onclick="toggleMainNav();" data-proofer-ignore><span class="fa fa-bars"></span></a>
	</div>
</header>
